.card {
    border-color:  #E2CB77;
    display: flex;
    padding: .5rem;
    background-color: #FFFF;
    border-width: 0.3em;
    position: relative;
}


.info-order {
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap:1em;
}

.info-order span {
    color: #DA4B4B;
    font-weight: bold;
    font-size:small;
}
.info-order p{
    font-size:small;
}

.sixe{
    font-weight: 500;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    padding-bottom: 0;
    height:1.5em
}

.card button{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 2em;
   
    
}

.inputsDiv{
    display: flex;
    gap: 1em;
}

