<section class="card" *ngFor="let item of ordersFromApi">
    <div class="card-body">
      <div class="info-order">
        <p class="data"><span>Table:</span> {{item.data.table}}</p>
        <p class="data"><span>Time:</span> {{item.date}}</p>
        <p class="data"><span>Waiter:</span> {{item.data.waiter}}</p>
      </div>
      <div >
      <div class="sixe" *ngFor="let product of item.order">
        <div>
      <p  >{{product.producto}}</p>
    </div>
    <div>
      <p  >{{product.cantidad}}   <input type="checkbox" value='{{ product.producto }}' [(ngModel)]="product.selected"  >
      </p>
      <div class ="buttonDiv">
        <button class="submit" [disabled]="!product.selected"   (click)="hello()">Order Ready</button>
       
    </div>
  </div>
      
      </div>
      
    </div>
    
    
    </div>
  </section>